body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  color: #fff;
  background: #000;
  transition: all 0.3s;
}

#root {
	height: 100%;
}

h1 {
	font-size: 54px;
	font-weight: 900;
}

h1.title {
	border-left: 6px solid #48d47a;
	padding-left: 8px;
}

p {
	font-weight: 100;
}

/** Page Transitions **/

.page-enter {
	opacity: 0.01;
}

.page-enter.page-enter-active {
	opacity: 1;
  transition: opacity 600ms ease-in;
}

.page-leave {
	opacity: 1;
}

.page-leave.page-leave-active {
	opacity: 0.01;
  transition: opacity 600ms ease-in;
}

/** Loading **/
.overlay {
	display: none;
	opacity: 0.5; 
  background: #000; 
  width: 100%;
  height: 100%; 
  z-index: 10;
  top: 0; 
  left: 0; 
  position: fixed; 
}

.loader{
	display: none;
	position: absolute;
	top: 50%;
	left: 45%;
  height: 100px;
  width: 100px;
  text-align: center;
  margin: 0 auto 1em;
  vertical-align: top;
  z-index: 20;
}

.divider {
	height: 10px;
	margin: 1em 0;
}

.divider.Warrior {
	background-image: linear-gradient(90deg, #c69b6d, #000);
}

.divider.Paladin {
	background-image: linear-gradient(90deg, #f48cba, #000);
}

.divider.Hunter {
	background-image: linear-gradient(90deg, #aad372, #000);
}

.divider.Rogue {
	background-image: linear-gradient(90deg, #fff478, #000);
}

.divider.Priest {
	background-image: linear-gradient(90deg, #f0ebe0, #000);
}

.divider.Death.Knight {
	background-image: linear-gradient(90deg, #c41e3b, #000);
}

.divider.Shaman {
	background-image: linear-gradient(90deg, #2359ff, #000);
}

.divider.Mage {
	background-image: linear-gradient(90deg, #68ccef, #000);
}

.divider.Warlock {
	background-image: linear-gradient(90deg, #9382c9, #000);
}

.divider.Monk {
	background-image: linear-gradient(90deg, #00ffba, #000);
}

.divider.Druid {
	background-image: linear-gradient(90deg, #ff7c0a, #000);
}

.divider.Demon.Hunter {
	background-image: linear-gradient(90deg, #a330c9, #000);
}

svg path,
svg rect{
  fill: #82CF6D;
}

/** Class Colors **/

.Warrior.text {
	color: #c69b6d;
}

.Warrior.border:hover {
	border-color: #c69b6d;
}

.Paladin.text {
	color: #f48cba;
}

.Paladin.border:hover {
	border-color: #f48cba;
}

.Hunter.text {
	color: #aad372;
}

.Hunter.border:hover {
	border-color: #aad372;
}

.Rogue.text {
	color: #fff468;
}

.Rogue.border:hover {
	border-color: #fff468;
}

.Priest.text {
	color: #f0ebe0;
}

.Priest.border:hover {
	border-color: #f0ebe0;
}

.Death.Knight.text {
	color: #c41e3b;
}

.Death.Knight.border:hover {
	border-color: #c41e3b;
}

.Shaman.text {
	color: #2359ff;
}

.Shaman.border:hover {
	border-color: #2359ff;
}

.Mage.text {
	color: #68ccef;
}

.Mage.border:hover {
	border-color: #68ccef;
}

.Warlock.text {
	color: #9382c9;
}

.Warlock.border:hover {
	border-color: #9382c9;
}

.Monk.text {
	color: #00ffba;
}

.Monk.border:hover {
	border-color: #00ffba;
}

.Druid.text {
	color: #ff7c0a;
}

.Druid.border:hover {
	border-color: #ff7c0a;
}

.Demon.Hunter.text {
	color: #a330c9;
}

.Demon.Hunter.border:hover {
	border-color: #a330c9;
}

/** Header Component **/
.navbar {
	border: none;
	margin-bottom: 0;
}

.navbar-default {
	background-color: rgba(47,47,47,0.98);
	box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14),0 1px 18px 0 rgba(0,0,0,0.12),0 3px 5px -1px rgba(0,0,0,0.3);
}

.navbar-default .navbar-brand {
	color: #fff;
	opacity: 1;
	transition: 0.3s ease;
}

.navbar-default .navbar-brand:hover {
	opacity: 0.8;
}



/** Home Page **/
.mast {
	height: 100vh;
	width: 100%;
	background: url('./images/home-bg.jpg');
	background-size: cover;
	background-position: 50% 65%;
	background-repeat: no-repeat;
	display: flex;
  justify-content: center;
  align-items: center;
}

/** Search Component **/
.form-control {
	background-color: rgba(47,47,47,0.74);
	color: #fff;
}

.form-control:focus {
	border-color: #82CF6D;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 233, 136, 0.6);
}

.btn {
	font-family: 'Roboto', sans-serif;
	color: #555;
	height: 36px;
	line-height: 36px;
	padding: 0 2rem;
	font-size: 15px;
	font-weight: 400;
	border: none;
	border-radius: 2px;
	transition: all 0.35s;
}

.btn:hover {
	color: #555;
	box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14),0 1px 7px 0 rgba(0,0,0,0.12),0 3px 1px -1px rgba(0,0,0,0.2);
}

.btn.btn-primary {
	background-color: #48d47a;
}

.btn.btn-primary:hover {
	background-color: #4de884;
}

/** Character Page **/
.character-sheet-bg {
	height: 100vh;
	padding-top: 50px;
	padding-bottom: 50px;
}

/** Class BGs **/

.Death.Knight.character-sheet-bg {
	background: url('./images/DK-wallpaper.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.Demon.Hunter.character-sheet-bg {
	background: url('./images/DH-wallpaper.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.Druid.character-sheet-bg {
	background: url('./images/Druid-wallpaper.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.Hunter.character-sheet-bg {
	background: url('./images/Hunter-wallpaper.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.Mage.character-sheet-bg {
	background: url('./images/Mage-wallpaper.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.Monk.character-sheet-bg {
	background: url('./images/Monk-wallpaper.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.Paladin.character-sheet-bg {
	background: url('./images/Paladin-wallpaper.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.Priest.character-sheet-bg {
	background: url('./images/Priest-wallpaper.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.Rogue.character-sheet-bg {
	background: url('./images/Rogue-wallpaper.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.Shaman.character-sheet-bg {
	background: url('./images/Shaman-wallpaper.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.Warlock.character-sheet-bg {
	background: url('./images/Warlock-wallpaper.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.Warrior.character-sheet-bg {
	background: url('./images/Warrior-wallpaper.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.panel {
	border: 1px solid transparent;
	background-color: rgba(47,47,47,0.74);
	box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14),0 1px 18px 0 rgba(0,0,0,0.12),0 3px 5px -1px rgba(0,0,0,0.3);
	transition: 0.45s ease;
	color: #fff;
}

.panel .panel-body p{
	color: #fff;
}

.panel:hover {
	border: 1px solid #f8b700;
	background-color: rgba(47,47,47,0.90);
}

/** Progress Bars **/
.progress-bar.health {
	background-color: #248000;
}

.progress-bar.energy {
	background-color: #cb9501;
}

.progress-bar.rage {
	background-color: #ab0000;
}

.progress-bar.focus {
	background-color: #964414;
}

.progress-bar.mana {
	background-color: #1c8aff;
}

.progress-bar.runic-power, .progress-bar.maelstrom {
	background-color: #00bcde;
}

ul.talent-choices li {
	margin-bottom: 8px;
}

.artifact-list {
	padding-bottom: 50px;
}

@media (min-width: 768px) {
	.navbar {
		border-radius: 0;
	}
}
